body  {
  display: block;
  font-family: Arial;
  height: 99vh;
  margin-left: 0.5vw;
  margin-top: 0.5vh;
  width: 99vw;
}

#mainview  {
  background-color: #87CEEB;
  border: 1px solid #000000;
  height: 100%;
  width: 100%;
}

@media (max-width: 1000px)  {
  body  {
    font-size: 10px;
  }
}

@media (max-width: 767px)  {
  body  {
    font-size: 8px;
  }
}
